.d-none {
  display: none;
}

.d-md-none {
  display: none;
}

@media (min-width: 768px) {
  .d-md-none {
    display: initial;
  }
}

.d-lg-none {
  display: none;
}

@media (min-width: 992px) {
  .d-lg-none {
    display: initial;
  }
}

.reserve_cta {
  border: 3px #b4cbed solid;
  color: white;
  background: #76af8f;
  font-weight: bold;
  text-decoration: none;
  padding: .75rem 1rem;
  border-radius: 50rem;
  display: inline-block;
}

.reserve_cta:hover {
  border-color: #76af8f;
  color: #76af8f;
  background: white;
}

.pop_service {
  width: 80%;
  max-width: 450px;
  min-width: 300px;
  margin: 0 auto;
  background: transparent;
  -webkit-box-shadow: 5px 5px 20px -5px white;
          box-shadow: 5px 5px 20px -5px white;
  border-radius: .5rem;
  position: relative;
  height: 575px;
  min-height: 575px;
  max-height: 575px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.pop_service:hover .pop_service_outer {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.pop_service .pop_service_outer {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #4b7a9c;
  border-radius: .5rem;
}

.pop_service .pop_service_outer .pop_serve_front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: absolute;
}

.pop_service .pop_service_outer .pop_serve_front img {
  display: block;
  width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  height: 40%;
  min-height: 40%;
  max-height: 40%;
}

.pop_service .pop_service_outer .pop_serve_front .pop_serve_outer_in {
  height: 60%;
  min-height: 60%;
  max-height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
  color: white;
}

.pop_service .pop_service_outer .pop_serve_front .pop_serve_outer_in h3 {
  text-align: left;
  margin-top: 0;
  color: white !important;
  padding: .75rem 0 0;
}

.pop_service .pop_service_outer .pop_serve_front .pop_serve_outer_in small {
  text-align: left;
  font-size: 90%;
}

.pop_service .pop_service_outer .pop_serve_front .pop_serve_outer_in p {
  text-align: left;
  text-overflow: ellipsis;
  font-size: 125%;
  line-height: 1.25;
  font-family: "nunito", sans-serif;
}

.pop_service .pop_service_outer .pop_serve_back {
  background: #4b7a9c;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pop_service .pop_service_outer .pop_serve_back h4 {
  font-size: 400%;
  color: white;
  font-family: "contrail one";
  margin: 1rem 0;
}

.pop_service .pop_service_outer .pop_serve_back a {
  background: #0b61dd;
  border-color: #0b61dd;
  color: white;
}

.pop_service .pop_service_outer .pop_serve_back a:hover {
  background: none;
  border-color: #0b61dd;
}

.pop_service .pop_service_outer .pop_serve_back, .pop_service .pop_service_outer .pop_serve_front {
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.tha_review {
  background: #508ee4;
  border-radius: .75rem;
  width: 300px;
  padding: 1rem .5rem 2.5rem;
  color: white;
  font-weight: 600;
  margin: 3rem 1.5rem;
  position: relative;
}

.tha_review svg {
  border-radius: 50%;
  background: #b4cbed;
  padding: .75rem;
  font-size: 150%;
  margin: 0 .5rem .5rem 0;
  float: left;
}

.tha_review p {
  line-height: 1.5;
  padding: 0;
  font-style: italic;
  font-size: 125%;
}

.tha_review i {
  text-align: right;
  width: 95%;
  text-align: right;
  display: inline-block;
  margin-right: 2rem;
  position: absolute;
  bottom: 10px;
  z-index: 5;
  right: -5px;
  font-size: 175%;
  font-family: "contrail one", cursive;
  font-weight: 100;
}

.social_icons {
  padding: 0 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social_icons a {
  margin: 0 .5rem;
}

.social_icons a svg {
  font-size: 200%;
  color: #8baee3;
}

.social_icons a svg:hover {
  color: #76af8f;
}

.logo_container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  border-bottom: 1px solid white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .logo_container {
    border: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: auto;
  }
}

.logo_container .logo_in_gray {
  border-left: solid .45rem #666;
  border-right: solid .4rem #666;
  border-bottom: solid .3rem #666;
  border-top: solid .3rem #666;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 50px;
  padding-right: .25rem;
  margin-right: .2rem;
}

.logo_container .logo_in_gray .logo_spa {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.logo_container .logo_in_gray .logo_spa p {
  margin: 1px 0;
  padding: 0 0 0 .25rem;
  color: #666;
}

.logo_container .logo_in_gray .logo_q {
  font-size: 400%;
  margin: 0px;
  margin-left: -.1rem;
  color: #006c61;
  font-family: 'Kaushan Script', cursive;
  padding: 0px;
}

.logo_container .logo_uatros {
  color: #006c61;
  font-size: 300%;
  font-family: script;
  margin: .75rem 0;
}

.foot_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot_nav a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
  text-decoration: none;
  padding: .5rem 0;
  font-size: 115%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot_nav a svg {
  margin-right: .5rem;
  min-width: 20px;
  max-width: 20px;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 390px;
  overflow-x: hidden;
}

body nav {
  background: rgba(168, 168, 168, 0.4);
  height: 100px;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 80;
  font-weight: 600;
}

@media (min-width: 576px) {
  body nav {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  body nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  body nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    width: 100%;
  }
}

body nav #hamburger_section {
  position: relative;
  display: inline-block;
  -ms-grid-column-align: start;
      justify-self: start;
}

@media (min-width: 768px) {
  body nav #hamburger_section {
    display: none;
  }
}

body nav #hamburger_section:hover #hamburger svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: black;
}

body nav #hamburger_section:hover article {
  display: block;
}

body nav #hamburger_section:hover article a {
  -webkit-animation: burger_dropdown 1s ease 0s 1 normal both;
          animation: burger_dropdown 1s ease 0s 1 normal both;
}

@-webkit-keyframes burger_dropdown {
  0% {
    width: 0%;
  }
  100% {
    width: 200%;
  }
}

@keyframes burger_dropdown {
  0% {
    width: 0%;
  }
  100% {
    width: 200%;
  }
}

body nav #hamburger_section #hamburger {
  padding: 1rem;
  height: 1rem;
  width: 1rem;
  color: #f2d4b6;
  font-size: 2rem;
  margin-left: 1rem;
}

body nav #hamburger_section #hamburger svg {
  -webkit-transition: ease transform 1s;
  transition: ease transform 1s;
}

body nav #hamburger_section article {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 100;
  margin-left: 2rem;
}

body nav #hamburger_section article a {
  padding: 16px;
  text-decoration: none;
  display: block;
  color: white;
  width: 200%;
  background: rgba(30, 30, 30, 0.7);
  font-style: italic;
  font-family: 'nunito';
  letter-spacing: .1rem;
  font-size: 135%;
  text-align: left;
  white-space: nowrap;
}

body nav #hamburger_section article a:hover {
  background-color: white;
  color: rgba(30, 30, 30, 0.7);
  -webkit-text-decoration: underline 1px solid;
          text-decoration: underline 1px solid;
}

body nav #hamburger_section article a::nth-child(2) {
  border: 1px solid white;
  border-right: none;
  border-left: none;
}

body nav #logo_and_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: end;
  width: 100%;
  text-align: right;
  margin-right: 0;
}

@media (min-width: 576px) {
  body nav #logo_and_links {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  body nav #logo_and_links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

body nav #logo_and_links .logo_container {
  margin-left: 2rem;
  margin-right: 1.5rem;
  border-bottom: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: skew(-15deg) rotateY(5deg);
          transform: skew(-15deg) rotateY(5deg);
}

@media (min-width: 768px) {
  body nav #logo_and_links .logo_container {
    -webkit-transform: scale(0.8) skew(-15deg) rotateY(5deg);
            transform: scale(0.8) skew(-15deg) rotateY(5deg);
  }
}

@media (min-width: 1200px) {
  body nav #logo_and_links .logo_container {
    -webkit-transform: scale(1) skew(-15deg) rotateY(5deg);
            transform: scale(1) skew(-15deg) rotateY(5deg);
  }
}

body nav #logo_and_links .logo_container .logo_uatros {
  color: #76af8f;
  margin: 0;
  text-shadow: 1px 1px 2px #c2c2c2;
}

body nav #logo_and_links .logo_container .logo_in_gray {
  border-left: solid 0.45rem #a8a8a8;
  border-right: solid 0.4rem #a8a8a8;
  border-bottom: solid 0.3rem #a8a8a8;
  border-top: solid 0.3rem #a8a8a8;
}

body nav #logo_and_links .logo_container .logo_in_gray .logo_q {
  color: #76af8f;
  font-size: 275%;
  padding-bottom: .5rem;
  text-shadow: 1px 1px 3px #c2c2c2;
}

body nav #logo_and_links .logo_container .logo_in_gray .logo_spa p {
  color: #479DCC;
  text-shadow: 0px 0px 1px white;
}

body nav #logo_and_links article {
  display: none;
}

@media (min-width: 768px) {
  body nav #logo_and_links article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body nav #logo_and_links article a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    font-size: 115%;
  }
  body nav #logo_and_links article a:hover {
    border-bottom: white 1px solid;
  }
}

@media (min-width: 1200px) {
  body nav #logo_and_links article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav #logo_and_links article a {
    margin-left: 6rem;
  }
}

body nav #cta_nav_section {
  display: none;
}

body nav #cta_nav_section a {
  background: transparent;
  border: white solid 1px;
  white-space: nowrap;
}

body nav #cta_nav_section a:hover {
  -webkit-text-decoration: underline solid currentColor 1px;
          text-decoration: underline solid currentColor 1px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.8);
  color: white !important;
}

@media (min-width: 576px) {
  body nav #cta_nav_section {
    display: block;
    margin-right: 2rem;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (min-width: 768px) {
  body nav #cta_nav_section {
    display: none;
  }
}

@media (min-width: 1200px) {
  body nav #cta_nav_section {
    display: block;
  }
}

body #fixed_up {
  position: fixed;
  bottom: 10%;
  right: 5%;
  font-size: 200%;
  z-index: 100;
  color: rgba(168, 168, 168, 0.5);
}

body #fixed_up:hover {
  color: rgba(168, 168, 168, 0.85);
}

body header #first_img {
  width: 100%;
  height: 55vh;
  background-image: url(https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/44392206_2152131651770528_1881851452729589760_o.jpg?_nc_cat=107&_nc_oc=AQmw6uEAxhFutvaPJlJJ7t6LiPXKGsp81SZugpkXQbLHfC1Qe4RFBOqNCDgbcEFg6qg&_nc_ht=scontent-lga3-1.xx&oh=471181003bf6a80990a2607972dc4ecd&oe=5E05CB98);
  background-size: cover;
  background-position: center 100%;
}

@media (min-width: 576px) {
  body header #first_img {
    height: 70vh;
  }
}

@media (min-width: 768px) {
  body header #first_img {
    height: 80vh;
    background-attachment: fixed;
  }
}

main {
  text-align: center;
}

main #opening_section {
  background: #c9dbf6;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9dbf6), color-stop(55%, #bbd2f4), color-stop(200%, #4a7b9f));
  background: linear-gradient(180deg, #c9dbf6 0%, #bbd2f4 55%, #4a7b9f 200%);
  padding: 1.75rem 0 2.75rem 0;
}

main #opening_section h2 {
  text-transform: capitalize;
  margin: 0;
  color: #0b61dd;
  font-weight: 200;
  padding: 2rem;
  padding-bottom: 0;
  font-family: 'Mina', sans-serif;
}

main #opening_section h2 span {
  padding: 0.25rem 0;
  display: inline-block;
  width: 100%;
  font-size: 150%;
  line-height: 1.15;
}

@media (min-width: 576px) {
  main #opening_section h2 span {
    font-size: 175%;
  }
}

@media (min-width: 768px) {
  main #opening_section h2 span {
    font-size: 200%;
  }
}

@media (min-width: 768px) {
  main #opening_section h2 span {
    padding: 0;
    font-size: 250%;
  }
}

main #opening_section .reserve_cta {
  border-color: transparent;
  background: #003DF5;
  -webkit-box-shadow: 0px 0px 15px 0px #4CA5B5;
          box-shadow: 0px 0px 15px 0px #4CA5B5;
}

main #opening_section .reserve_cta:hover {
  background: transparent;
  color: #003DF5;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #003DF5;
}

main #opening_section p {
  padding: 2rem;
  max-width: 576px;
  margin: 0 auto;
  color: #054fb9;
  font-size: 125%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

@media (min-width: 576px) {
  main #opening_section p {
    font-size: 150%;
  }
}

main #benefit_overlay {
  background-image: url(https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/12472300_1590572877926411_2287285022444822630_n.jpg?_nc_cat=109&_nc_oc=AQnF3A_slu4iXn5_B7ayG_6JujVdKKwox-xRoaFmzK40rbVDZZhY69d5P5_2PKG-Kh4&_nc_ht=scontent-lga3-1.xx&oh=6a188207c903fa55eb10c90aa300f855&oe=5DF6D5C7);
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  main #benefit_overlay {
    background-attachment: fixed;
    background-position: 50% 70%;
  }
}

main #benefit_overlay #ending_benefits_section {
  padding: 3rem 0;
  text-transform: capitalize;
  background: #bbd2f4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(57, 90, 114, 0.75)), to(rgba(88, 88, 88, 0.75)));
  background: linear-gradient(180deg, rgba(57, 90, 114, 0.75) 50%, rgba(88, 88, 88, 0.75) 100%);
}

main #benefit_overlay #ending_benefits_section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-left: 2rem;
  padding-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

@media (min-width: 768px) {
  main #benefit_overlay #ending_benefits_section article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  main #benefit_overlay #ending_benefits_section article {
    margin-left: 1rem;
  }
}

@media (min-width: 1200px) {
  main #benefit_overlay #ending_benefits_section article {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main #benefit_overlay #ending_benefits_section article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 150%;
  white-space: nowrap;
  margin: 1rem 1.5rem 1rem 0;
  width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (min-width: 576px) {
  main #benefit_overlay #ending_benefits_section article div {
    width: 450px;
  }
}

@media (min-width: 768px) {
  main #benefit_overlay #ending_benefits_section article div {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
    margin-left: 2rem;
  }
}

@media (min-width: 992px) {
  main #benefit_overlay #ending_benefits_section article div {
    font-size: 150%;
  }
}

main #benefit_overlay #ending_benefits_section article div svg {
  margin-right: 1rem;
  min-width: 55px;
  max-width: 60px;
  height: auto;
  font-size: 175%;
}

main #benefit_overlay #ending_benefits_section article div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

main #benefit_overlay #ending_benefits_section article div p span:first-of-type {
  white-space: pre-wrap;
  font-size: 110%;
}

@media (min-width: 992px) {
  main #benefit_overlay #ending_benefits_section article div p span:first-of-type {
    white-space: nowrap;
  }
}

main #benefit_overlay #ending_benefits_section article div p span:last-of-type {
  font-size: 70%;
  white-space: pre-wrap;
}

main #about_us_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #5ECBFF;
  padding: 1rem;
}

@media (min-width: 768px) {
  main #about_us_section {
    height: 400px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
  }
}

main #about_us_section #about_us_text {
  color: #0b61dd;
  max-width: 500px;
  margin: 1rem auto 2rem;
  width: 95%;
}

@media (min-width: 768px) {
  main #about_us_section #about_us_text {
    width: 50%;
  }
}

main #about_us_section #about_us_text h2 {
  margin: 0;
  padding: 0;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 300%;
}

main #about_us_section #about_us_text p {
  line-height: 1.25;
  font-size: 125%;
  font-weight: 500;
  font-family: 'roboto', sans-serif;
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  main #about_us_section #about_us_text p {
    padding: 0;
  }
}

main #about_us_section #about_us_imgs {
  width: 95%;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
}

@media (min-width: 768px) {
  main #about_us_section #about_us_imgs {
    width: 45%;
  }
}

main #about_us_section #about_us_imgs img {
  width: 100%;
  display: block;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 500px;
}

main #pop_services_section {
  background: #5ecbff;
  background: -webkit-gradient(linear, left top, left bottom, from(#5ecbff), color-stop(30%, white));
  background: linear-gradient(180deg, #5ecbff 0%, white 30%);
}

main #pop_services_section h2 {
  color: #0b61dd;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 300%;
  margin: 0;
  padding: 2rem 0;
}

main #pop_services_section .pop_services_div {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 768px) {
  main #pop_services_section .pop_services_div {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

@media (min-width: 992px) {
  main #pop_services_section .pop_services_div {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

main #pop_services_section h3 {
  font-size: 150%;
  color: #4a7b9f;
  margin-bottom: 0;
  font-family: 'roboto', sans-serif;
  text-transform: capitalize;
}

main #pop_services_section h3:last-child {
  padding: 0 1rem;
}

main #pop_services_section h3 a {
  margin: 1rem 0 2.5rem;
  background: #3e7dab;
  border: 2px solid #3e7dab;
  color: white;
  font-style: normal;
}

main #pop_services_section h3 a:hover {
  color: #3e7dab;
  background: none;
}

main #pop_services_section #packages_div {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #pop_services_section #packages_div .pop_service {
  background: transparent;
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  max-width: 350px;
  margin: 2rem;
}

main #pop_services_section #packages_div .pop_service .pop_service_outer .pop_serve_front h3, main #pop_services_section #packages_div .pop_service .pop_service_outer .pop_serve_front h4 {
  color: white;
}

main #pop_services_section #packages_div .pop_service .pop_service_outer .pop_serve_back {
  color: white;
}

main #pop_services_section #packages_div .pop_service .pop_service_outer .pop_serve_back p {
  padding: 0 2rem .25rem;
}

main #walkthrough_section {
  background: url(https://steemitimages.com/p/62PdCouTvNPDiCnjgoQXRxyJDrzuLR4KbVsRymyPFoZWoSyLehvDA1DhHCw2wKXGrHNtQgwePtGMMHQiWr8Z1BiBTj5szB6G3NzwcG7HX6nmTeE?format=match&mode=fit&width=640);
  background-size: cover;
  background-position: center center;
}

main #walkthrough_section article {
  background: rgba(50, 50, 50, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 0;
  color: white;
}

main #walkthrough_section article h2 {
  margin: 0;
  font-family: "nunito", sans-serif;
  font-size: 250%;
}

main #walkthrough_section article p {
  margin: 0 2rem 1rem;
  font-family: "roboto";
  font-size: 125%;
}

main #walkthrough_section article a {
  font-size: 600%;
  color: white;
}

main #walkthrough_section article a:hover {
  color: #5ECBFF;
}

main #paragraph_section {
  background: #252021;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-390%, #252021), color-stop(30%, #bbd2f4), to(#c9dbf6));
  background: linear-gradient(180deg, #252021 -390%, #bbd2f4 30%, #c9dbf6 100%);
  padding: 1.75rem 0 2.75rem 0;
}

main #paragraph_section h2 {
  text-transform: capitalize;
  margin: 0;
  color: #0a2e62;
  font-weight: 200;
  padding: 2rem;
  padding-bottom: 0;
  font-family: 'nunito', sans-serif;
  font-size: 350%;
}

main #paragraph_section p {
  padding: 2rem;
  max-width: 576px;
  margin: 0 auto;
  color: #0a2e62;
  font-size: 150%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

main #meet_team_section {
  text-align: center;
  padding-bottom: 1rem;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, white), to(#bbd2f4));
  background: linear-gradient(180deg, white 45%, #bbd2f4 100%);
}

main #meet_team_section h2 {
  color: #4a7b9f;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 300%;
  margin: 0;
  padding: 2rem 0 0;
  text-transform: capitalize;
}

main #meet_team_section #team_imgs {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 576px) {
  main #meet_team_section #team_imgs {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

@media (min-width: 992px) {
  main #meet_team_section #team_imgs {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

main #meet_team_section #team_imgs article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 225px;
  margin: 2rem auto;
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #meet_team_section #team_imgs article:not(:first-child) {
  display: none;
}

@media (min-width: 576px) {
  main #meet_team_section #team_imgs article:not(:last-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  main #meet_team_section #team_imgs article:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main #meet_team_section #team_imgs article img {
  display: block;
  width: 75%;
  height: 75%;
  min-height: 75%;
  max-height: 75%;
  border-radius: 50%;
}

main #meet_team_section #team_imgs article p {
  color: black;
  padding: 1rem 0 0;
  margin: 0;
  font-size: 200%;
  font-family: "contrail one";
}

main #testimony_section {
  background: #bbd2f4;
  clear: both;
  color: #76a0de;
}

main #testimony_section h2 {
  margin: 0;
  margin-bottom: -0.5rem;
  padding: 2rem 0 0 0;
  color: #4a7b9f;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 300%;
}

main #testimony_section #reviews_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 1rem;
}

main #testimony_section #simple_p {
  font-weight: 600;
  font-size: 200%;
  text-transform: capitalize;
  margin: 1rem;
  font-family: 'roboto', sans-serif;
  font-style: italic;
  color: #4d97ff;
  text-shadow: 1px 1px 1px white;
}

main #testimony_section .social_icons a {
  margin: 0 1rem;
  font-size: 175%;
}

main #testimony_section .social_icons a svg {
  color: #4d97ff;
}

main #testimony_section .social_icons a svg:hover {
  color: #40bf77;
}

main #social_media_section {
  background-image: url(https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/54390832_2266552796995079_5686315371649302528_n.jpg?_nc_cat=103&_nc_oc=AQmHi9S_TQZnvdSc4VW7MgKu6QOVqj4VqdXfX-v8FNVxvo6d5k-hOoms-6tZ7u8vCPhtgCTA4yHzbytE0Pag7jaa&_nc_ht=scontent-lga3-1.xx&oh=1c4267b1db8f7a70891068da4a367871&oe=5DF9AC1F);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  main #social_media_section {
    background-attachment: fixed;
  }
}

main #social_media_section article {
  height: 100%;
  width: 100%;
  background: rgba(50, 50, 50, 0.7);
  color: white;
}

main #social_media_section article h2 {
  margin: 0;
  padding: 1rem 0 0;
  font-size: 200%;
  font-family: "nunito", sans-serif;
}

main #social_media_section article p {
  margin: 0 auto;
  max-width: 85%;
  font-family: "roboto", sans-serif;
  font-size: 125%;
}

@media (min-width: 576px) {
  main #social_media_section article p {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  main #social_media_section article p {
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  main #social_media_section article p {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  main #social_media_section article p {
    max-width: 40%;
  }
}

main #social_media_section article .social_icons {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #social_media_section article .social_icons a {
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-size: 175%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

main #social_media_section article .social_icons a:hover {
  color: #508ee4;
}

main #social_media_section article .social_icons a:hover svg {
  color: #508ee4;
}

main #social_media_section article .social_icons a svg {
  margin-right: .5rem;
  color: #5ECBFF;
}

footer {
  background: #0c1a30;
  color: white;
}

footer #main_footer_section {
  padding: 1rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  footer #main_footer_section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem 1.5rem;
  }
  footer #main_footer_section #footer_connect {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  footer #main_footer_section #pop_footures {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  footer #main_footer_section #footer_logo_about {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

footer #main_footer_section #footer_connect h3 {
  font-size: 175%;
  font-weight: 400;
  border-bottom: white 1px solid;
}

footer #main_footer_section #footer_connect .foot_nav a:hover {
  color: #b4cbed;
}

footer #main_footer_section #footer_connect .social_icons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 1rem 0;
}

footer #main_footer_section #footer_connect .social_icons a:first-child {
  margin-left: 0;
}

footer #main_footer_section #pop_footures {
  text-transform: capitalize;
}

@media (min-width: 768px) {
  footer #main_footer_section #pop_footures {
    margin-left: 2rem;
  }
}

@media (min-width: 992px) {
  footer #main_footer_section #pop_footures {
    margin-left: 0px;
  }
}

footer #main_footer_section #pop_footures h3 {
  font-size: 175%;
  font-weight: 400;
  border-bottom: white 1px solid;
  padding-bottom: .15rem;
  margin-bottom: 1rem;
}

footer #main_footer_section #pop_footures .foot_nav p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
}

footer #main_footer_section #pop_footures .foot_nav p span:first-of-type {
  margin: 0;
  margin-right: .75rem;
  font-size: 200%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer #main_footer_section #footer_logo_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0 1rem 0;
}

@media (min-width: 768px) {
  footer #main_footer_section #footer_logo_about {
    text-align: justify;
  }
}

footer #main_footer_section #footer_logo_about .logo_container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  border-bottom: 1px solid white;
  text-decoration: none;
}

@media (min-width: 768px) {
  footer #main_footer_section #footer_logo_about .logo_container {
    border: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: auto;
  }
}

footer #main_footer_section #footer_logo_about .logo_container .logo_in_gray {
  border-left: solid .45rem #666;
  border-right: solid .4rem #666;
  border-bottom: solid .3rem #666;
  border-top: solid .3rem #666;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 50px;
  padding-right: .25rem;
  margin-right: .2rem;
}

footer #main_footer_section #footer_logo_about .logo_container .logo_in_gray .logo_spa {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

footer #main_footer_section #footer_logo_about .logo_container .logo_in_gray .logo_spa p {
  margin: 1px 0;
  padding: 0 0 0 .25rem;
  color: #666;
}

footer #main_footer_section #footer_logo_about .logo_container .logo_in_gray .logo_q {
  font-size: 400%;
  margin: 0px;
  margin-left: -.1rem;
  color: #006c61;
  font-family: script;
  padding: 0px;
}

footer #main_footer_section #footer_logo_about .logo_container .logo_uatros {
  color: #006c61;
  font-size: 300%;
  font-family: script;
  margin: .75rem 0;
}

footer #main_footer_section #footer_logo_about #foot_about_para {
  padding: .5rem;
  line-height: 1.25;
  font-size: 125%;
}

footer #main_footer_section #footer_logo_about #foot_about_para i {
  padding: 1.5rem 1rem;
  font-size: 175%;
  padding: 0 1rem;
  line-height: 2.25;
  font-weight: 500;
  font-family: "serif";
}

footer #copyright_section {
  padding: .25rem 3rem;
  background: #dde8f7;
  color: #a8a8a8;
}

footer #copyright_section a {
  color: #a8a8a8;
}

footer #copyright_section a:hover {
  color: #b4cbed;
}
/*# sourceMappingURL=main.css.map */